@model Persona

@{
    ViewData["Title"] = "Principal";
}

<partial name="_Presentacion" />

<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                Trabajo desde el desarrollo, pruebas automaticas y puesta en producción.
            </p>
            <p class="text-primary cabecera">
                Stack's: 
            </p>
            <p>
                ASP.NET Core, SQL Server, Node.Js, MongoDB
            </p>
            <p class="text-primary cabecera">
                Experiancia: 
            </p>
            <ul>
                <li>ASP.NET Core MVC</li>
                <li>Principios SOLID</li>
                <li>API's REST'</li>
                <li>Nube e infraestructura</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Front-end</h3>
            <p>
                Puedo crear front-end robustos los cuales cumplen con los requerimientos del negocio.
            </p>
            <p class="text-primary cabecera">
                Stack's: 
            </p>
            <p>
                React, Blazor
            </p>
            <p class="text-primary cabecera">
                Experiancia: 
            </p>
            <ul>
                <li>React Hooks</li>
                <li>jQuery</li>
                <li>Pruebas automáticas</li>
                <li>CSS</li>
            </ul>
        </div>
    </div>
</div>